{% do headTitle('Dashboard | Remembr.' | trans) %}

{% block content %}
<div class="content"> <!--content start-->

    <div class="container" ng-controller="dashboardCtrl">

        <div id="plain_light" class="ng-scope">
            <div id="useraccount" class="dashboard">
                <div class="">
                    <div class="update_info_lft">
                        <div class="select_file" ng-file-drop="onFileSelect($files)">

                            <span><img id="outputImage" ng-src="{[{imgresize(user.profilephoto,160,160)}]}" width="160" height="160" alt="{[{user.firstname}]} {[{user.lastname}]}"></span>

                            <div class="clear"></div>
                            <form name="profilePhoto" class="profilephoto-form" novalidate ng-submit="submitProfilePhoto()">
                                <span class="draganddrop">{{ 'To attach an image drag & drop it here or ' |trans }}</span>
								<div class="upload-button">
									<label class="btn">
										<div class="input-wrapper">
											<input type="file" ng-model="file" ng-file-select="onFileSelect($files)" />
											<span>{{'select a file from your computer' | trans}}</span>
										</div>
									</label>
								</div>

                                <div ng-show="uploading">
                                    <span class="floatright">{{ 'One moment please, your image is being saved...' |trans }}</span>
                                    <div class="clear"></div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="update_info_rht">
                        <h5 class="no_border fc inline">{{ "Dashboard" | trans }}</h5> <a class="change-details" ng-if="editdashboard==false" ng-click="editDashboard()">({{ 'change' | trans }})</a>
                        <ul class="two-column" ng-if="editdashboard==false">
                            <li ng-class="{invalid : accountForm.name.$invalid &amp;&amp; accountForm.name.$dirty}" class="li_left">
                                <p>{[{ user.name }]}</p>
                            </li>
                            <li ng-class="{invalid : accountForm.residence.$invalid &amp;&amp; accountForm.residence.$dirty}" class="">
                                <p>{[{ user.residence }]}</p>
                            </li>
                            <li ng-class="{invalid : accountForm.dateofbirth.$invalid && accountForm.dateofbirth.$dirty}" class="li_left">
                                <p>{[{ user.dateofbirth | date:'dd-MM-yyyy' }]}</p>
                            </li>
                            <li ng-class="{invalid : accountForm.country.$invalid &amp;&amp; accountForm.country.$dirty}" class="">
                                <p>{[{ user.country }]}</p>
                            </li>
                            <li class="li_left">
                                <p ng-if="user.gender=='male'">{{ 'Male' | trans }}</p>
                                <p ng-if="user.gender=='female'">{{ 'Female' | trans }}</p>
                            </li>
                            <li>
                                <p>{{ 'Language' | trans }}:
                                    <img class="lang-img" ng-src="/images/flag/{[{user.language}]}.png" ng-alt="{[{user.language}]}">
                                </p>
                            </li>

                        </ul>

                        <form method="post" name="accountForm" id="accountForm" ng-submit="submitEditAccountForm(accountForm.$valid)" novalidate ng-if="editdashboard==true">
                            <ul class="two-column">
                                <li ng-class="{invalid : accountForm.name.$invalid &amp;&amp; accountForm.name.$dirty}" class="li_left">
                                    <label>{{ 'Name' | trans }}</label>
                                    <span class="light_txtbox_bg">
                                        <input ng-model="user.name" name="name" type="text" class="light_txtbox" required="true" placeholder="{{ 'Enter your name' | trans }}" />
                                    </span>
                                </li>
                                <li ng-class="{invalid : accountForm.residence.$invalid &amp;&amp; accountForm.residence.$dirty}" class="">
                                    <label>{{ 'City' | trans }}</label>
                                    <span class="light_txtbox_bg">
                                        <input ng-model="user.residence" name="residence" type="text" class="light_txtbox" required="true" placeholder="{{ 'Enter your city...' | trans }}" />
                                    </span>
                                </li>
                                <li ng-class="{invalid : accountForm.dateofbirth.$invalid && accountForm.dateofbirth.$dirty}" class="li_left">
                                    <label>{{'Date of birth' | trans }}</label>
                                    <span class="light_txtbox_bg">
                                        <input ng-model="user.dateofbirth" name="dateofbirth" type="text" class="light_txtbox" datepicker="{[{user.dateformat}]}" placeholder="{[{user.dateformat | dateplaceholder}]}" required="true" ng-blur="accountForm.dateofbirth.$dirty=true" />
                                    </span>
                                </li>
                                <li ng-class="{invalid : accountForm.country.$invalid &amp;&amp; accountForm.country.$dirty}" class="">
                                    <label>{{ 'Country' | trans }}</label>
                                    <span class="light_txtbox_bg">
                                        <input ng-model="user.country" name="country" type="text" class="light_txtbox" required="true" placeholder="{{ 'Enter your country...' | trans }}" />
                                    </span>
                                </li>
                                {# ng-model  in these checkbox like radio buttons is not real, but needed to change to forms pristine state #}
                                <li class="li_left">
                                    <div class="label_box1 no_border">
                                        <label><input name="gender" value="male" ng-model="user.gender" type="radio"><i></i>{{ 'Male' | trans }}</label>
                                    </div>
                                    <div class="label_box1 no_border">
                                        <label><input name="gender" value="female" ng-model="user.gender" type="radio"><i></i>{{ 'Female' | trans }}</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="label_box1 no_border">
                                        <label><input name="language" value="nl" ng-model="user.language" type="radio"><i></i><img class="lang-img" src="/images/flag/nl.png" alt="nl"></label>
                                    </div>
                                    <div class="label_box1 no_border">
                                        <label><input name="language" value="en" ng-model="user.language" type="radio"><i></i><img class="lang-img" src="/images/flag/en.png" alt="en"></label>
                                    </div>
                                </li>
                            </ul>
                            <input name="" type="submit" value="{{ 'Save changes' | trans }}" class="save_changes disabled" ng-class="{disabled:accountForm.$invalid || !accountForm.$dirty}">
                            <input name="" type="button" value="{{ 'Cancel' | trans }}" class="cancel_but" ng-click="cancelEditDashboard()">
                        </form>

                        <div class="clear"></div>
                        <div class="left-div">
                            <h5>{{ "Your Remembr. pages" | trans }}</h5>
                            <ul class="dashboard-list">
                                <li ng-repeat="(url, item) in $root.user.pages">
                                    <span class="ph_img"><a ui-rel-sref="root.page({page:'{[{url}]}'})"><img ng-src="{[{imgresize(item.photo.url,75,75)}]}" width="75" height="75" alt="{[{item.firstname}]} {[{item.lastname}]}"></a></span>
                                    <p>
										<a ui-rel-sref="root.page({page:'{[{url}]}'})">{[{item.firstname}]} {[{item.lastname}]}</a>
										<span class="ng-cloak pagestatus" ng-if="item.status!='published'">{{'deactivated'|trans}}</span>
									</p>
                                    <p class="dates">
                                        <span class="dateofbirth">{[{item.dateofbirth | date:'dd-MM-yyyy'}]}</span>
                                        <span class="dateofdeath">{[{item.dateofdeath | date:'dd-MM-yyyy'}]}</span>
                                    </p>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <p>
                                        <span class="ph_img"><img src="/images/plus_icon.png" width="24" height="24" alt=""></span>
                                        <a class="link-img" ui-rel-sref=".fancybox.createpage.info">{{ 'Create new memorial page' | trans }}</a>
                                        <em class="clear"></em>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="right-div">
                            <h5>{{ "Your shared memories" | trans }}</h5>

                            <div id="memories-list">
                                <ul ng-controller="sharedMemoriesCtrl">
                                    <li ng-repeat="memory in $root.sharedmemories.memories | startFrom:currentPage * pageSize | limitTo:pageSize">
                                        <span class="{[{ memory.type }]}"></span>
                                        {[{ memory.creationdate }]} <a ng-click="popMemory(memory, true)" ui-sref="root.page({page:memory.url})">{[{ memory.firstname }]} {[{ memory.lastname }]}</a>
                                    </li>
                                </ul>
                                <span simplepaging nritems={[{$root.sharedmemories.memories.length}]}></span>
                            </div>

                        </div>

                        <div class="clear"></div>
                          {#<h5>{{ "How do you want to be remembered yourself" | trans }}</h5>#}

                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

            </div>
        </div>

    </div>
    <div class="clear"></div>
</div> <!--content end-->
{% endblock content %}