{% block content %}
<div class="content"> <!--content start-->

    <div class="container" ng-controller="dashboardCtrl" {# ng-class="{loader: page.url == undefined}" @TODO: is not working all the time #}>

        <div id="plain_light" class="ng-scope">
            <div id="useraccount" class="password">
                <div class="">
                    <div class="update_info_lft">
                    </div>

                    <div class="update_info_rht">
                        <h5 class="no_border">{{ "Choose a new password" | trans }}</h5>
						<span ng-bind="$root.translate('Please enter a new password to secure your account.')"></span>
						<br /><br />

                        <form action="/account/forgotpassword2" method="post" name="pwdForm" id="confirm">
                            <input name="key" type="hidden" value="{{ key }}">
                            <ul>
                                <li>
                                    <label>{{ 'Password' | trans }}
                                    <span class="light_txtbox_bg" ng-class="{invalid : pwdForm.password.$invalid &amp;&amp; pwdForm.password.$dirty}">
                                        <input  type="password" name="password" required="true" placeholder="{{ 'Enter your password' | trans }}" ng-model="user.pw1" pw-check="pw1" class="light_txtbox" >
                                    </span>
                                    </label>
                                </li>
                                <li>
                                    <label>{{ 'Confirm your password' | trans }}
                                    <span class="light_txtbox_bg" ng-class="{invalid : pwdForm.password2.$invalid &amp;&amp; pwdForm.password2.$dirty}">
                                        <input data-password-verify="user.pw1" name="password2" ng-model="user.pw2" required="true" type="password" size="30" autocomplete="off" class="password2 light_txtbox" placeholder="{{ 'Confirm your password' | trans }}" value="">
                                    </span>
                                    </label>
                                    <p class="signup-error" ng-show="pwdForm.password2.$error.passwordVerify">{{ 'The passwords do not match' | trans }}</p>
                                </li>

                            </ul>
                            <input name="" type="submit" value="{{ 'Change your password' | trans }}" class="save_changes disabled" ng-disabled="pwdForm.$invalid" ng-class="{disabled:pwdForm.$invalid || !pwdForm.$dirty}" class="">
                        </form>

                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>

            </div>
        </div>

    </div>

</div> <!--content end-->
{% endblock content %}