<div class="box login-form">
<form id="login" name="loginForm" ng-submit="submitLoginForm(loginForm.$valid)" novalidate>

    <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
        <label>
            <span>{{ 'E-mail address' | trans }}</span>
            <input type="email" ng-model="user.email" required="true" autocomplete="off" size="25" placeholder="{{ 'Enter your e-mail address' | trans }}" name="email" />
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">{{ 'Enter a valid e-mail address.' | trans }}</p>
        </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
        <label>
            <span>{{ 'Password' | trans }}</span>
            <input type="password" name="password" ng-model="user.password" required="true" placeholder="{{ 'Enter your password' | trans }}">
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">{{ 'Enter your password' | trans }}</p>
        </label>
    </div>

    <label>
        <span>{{ 'Remember me' | trans }}</span>
        <input type="checkbox" class="styled" ng-model="user.rememberme" name="rememberme" value="{[{ remembrmecheckbox }]}" ng-model="remembrmecheckbox" ng-click="remembrtoggle()" />
        <i></i>
    </label>

    <input type="submit" value="{{ 'Log in' | trans }}" id="submitbutton" name="submit">
</form>

<p class="forgot-password">
    <a ng-click="ui.active='forgotpassword';forgotPassword($event);$event.stopPropagation()">{{ 'Forgot password?' | trans }}</a>
</p>
<div class="divider"></div>
