{% extends format == 'tpl' ? 'application/settings/tpl' : 'application/settings/index' %}

{% block settings %}
	<div>

		<div class="label_tab light_container">

			<div class="inv_friend_lft">
				<h5>{{'Block users' |trans}}</h5>

				<div class="label_box2 block_user1">
					<strong>{{'Block a user' |trans}}</strong>
					<span class="admin_txtbox_bg">
						<input name="" type="text" class="admin_txtbox" placeholder="{{'Specify a new label'|trans}}" />
					</span>
					<input name="" type="button" value="{{'Add' |trans}}" class="add_but">
					<div class="clear"></div>
				</div>

				<div class="block_user2">
					<h6>{{'Restricted and blocked users' |trans}} (7)</h6>
					<ul>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
						<li>naam@emailadres.nl | <a >Unblock</a></li>
					</ul>
					<div class="clear"></div>
				</div>

			</div>

			<div class="help_cont">
				<h5>{{cms('help_settings_block').title()}}</h5>
				{{cms('help_settings_block').text() | raw}}
			</div>

			<div class="clear"></div>

			<input name="" type="button" value="{{'Save changes' |trans}}" class="save_changes">

			<input name="" type="button" value="{{'Cancel' |trans}}" class="cancel_but">

			<div class="clear"></div>

		</div>

	</div>
{% endblock settings %}