<li class="video {#{{random(['most-populair', 'most-recent', ''])}} {{random(['active', ''])}}#}">
    <span class="delete-content" ng-if="video.user.id == $root.user.id || $root.page.user.id == $root.user.id" mem="video"></span>
    <span class="edit-content"   ng-if="video.user.id == $root.user.id" mem="video"></span>
    <div class="row_gray_box not-editing">
        <span class="hover_img">
             {# <img ng-class="{hide: ui.active=='playvideo'}" width="320" height="320" alt="" 
				  {% if memory.videoid %} src="//img.youtube.com/vi/{{memory.videoid}}/0.jpg"{% endif %}
				  ng-src="//img.youtube.com/vi/{[{video.videoid}]}/0.jpg">
             <div ng-if="ui.active=='playvideo'" youtubevideo="{[{video.videoid}]}" width="100%"></div>#}
            <img ng-class="{hide: ui.active=='playvideo'}" alt="" 
             {% if memory.videoid %} src="//img.youtube.com/vi/{{memory.videoid}}/0.jpg"{% endif %}
             ng-src="//img.youtube.com/vi/{[{video.videoid}]}/0.jpg" style="width: 100%; ">
            <div class="rm-responsive-video rm-video-block" ng-if="ui.active=='playvideo'">
                <div youtubevideo="{[{video.videoid}]}"></div>
            </div>
        </span>
        <a class="play_but"
		   href="{{url('remembr/page', {}, {}, ['page', 'lang'])}}/memory/{{memory.id}}"
		   ng-click="ui.active='playvideo'; hideComment=true; $event.preventDefault()" ng-class="{hide: ui.active=='playvideo'}"></a>
        <div class="row_btm">
            <span class="row_btm_arrow" ng-class="{hide: hideComment}"></span>
            <span class="date_time" ng-bind="video.creationdate | date:'dd-MM yyyy HH:mm'">{{memory.creationdate | date('d-m Y H:i') }}</span>
            <em class="view_comment">
                <a href="{{url('remembr/page', {}, {}, ['page', 'lang'])}}/memory/{{memory.id}}"
                    ui-sref="root.page.fancybox.memory({id : video.id})"><span ng-bind="$root.translate('View / Comment')">{{'View / Comment'|trans}}</span> (<span ng-bind="video.numbercomments">{{memory.comments|length}}</span>)
                </a>
            </em>
            <div class="clear"></div>
            <div ng-if="(video.text !== '' && video.text !== undefined) || video.editing">
                <div class="view_comment_open" ng-class="{hide: hideComment}">
                    <span class="row_btm_arrow2"></span>
                     <div class="author_title">
                        <div {% if not user %}class="ng-cloak"{% endif %} ng-if="$root.user.loggedin && $root.getUsername(video.user)">
                            <span class="user-msg" user="video.user" text="'{{ 'Send a message to' | trans }}'"></span>
                            <p><a ng-bind="$root.getUsername(video.user, '{{'Anonymous user' | trans }}')">
									{{ memory.user.profile.firstname ~ ' ' ~ memory.user.profile.lastname | default('Anonymous user' | trans) }}
								</a> {#<i ng-bind="$root.translate('wrote:')">{{'wrote:' |trans}}</i>#}</p>
                        </div>

                        <div {% if user %}class="ng-cloak"{% endif %} ng-show="!$root.user.loggedin || !$root.getUsername(video.user)" >
                            <p>
                                <em ng-bind="$root.getUsername(video.user, '{{'Anonymous user' | trans }}')">
									{{ memory.user.profile.firstname ~ ' ' ~ memory.user.profile.lastname | default('Anonymous user' | trans) }}
								</em>
								{#<i ng-bind="$root.translate('wrote:')">{{'wrote:' |trans}}</i>#}
							</p>
                            </div>
                        </div>
                    <div class="save-edit-content">
                        <textarea ng-model="video.text" name="text" required="true" class="edit-content-text-field"></textarea>
                        <a ng-click="saveContent(video)" class="edit-content-submit"  ng-bind="$root.translate('Save changes')">{{'Save changes' | trans}}</a>
                    </div>
                    <p ng-bind="video.text" shorten="1" class="edit-content-display">{{video.text}}</p>
                    <p class="right-one-up edit-content-display">
                        <span><a  class="more_link" ui-sref="root.page.fancybox.memory({id : video.id})" ng-bind="$root.translate('More...')">{{'More...' |trans}}</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</li>