<li ng-show="currenttab=='memory'" class="photo">
	 <a ng-class="{tab_act2 : currentform=='media'}" ng-click="openForm('media')"><span class="pc-only">{{ 'Image' | trans }}</span></a>
	 <span class="mobile-only" ng-click="openForm('media')">{{ 'Image' | trans }}</span>

	<span class="filed_top_arrow" ng-class="{active_blue : ui.active=='post'}"  ng-show="user.loggedin"></span>

	<div class="tabDetails2" ng-show="user.loggedin">

		<div class="video_section" ng-class="{active_blue : ui.active=='post'}" ng-click="$event.stopPropagation()">
			
			<a name="mediaupload"/>
			<form name="content" novalidate ng-submit="submit()">
				<span id="select_file" class="select_file" ng-file-drop="onFileSelect($files)">
					<span class="draganddrop">{{ 'To attach an image drag & drop it here or ' |trans }}</span>

					<div class="upload-button">
						<label class="btn">
							<div class="input-wrapper">
								<input type="file" ng-model="file" ng-file-select="onFileSelect($files)" />
								<span>{{'select a file from your computer' | trans}}</span>
							</div>
						</label>
					</div>

					<img ng-show="dataUrl" ng-src="{[{dataUrl}]}">

				</span>
				<textarea name="text" ng-model="newContent.text" cols="2" rows="2"  ng-focus="ui.active='post'"
						  placeholder="{{'What would you like to share about this image...' | trans }}"></textarea>

				<div class="text_fold3 slide" ng-if="ui.active=='post'">

					<div class="text_fold_lft">
						<em>
							<span ng-show="page.labels.length">{{ 'Select a label' | trans }}</span>
							<span class="ng-hide" ng-show="user.admin[page.url]">( {{ 'Edit your labels in the settings menu' | trans }} )</span>
						</em>
						<ul>
							{% if format == 'tpl' %}
								<li ng-repeat="label in page.labels">
									<label ng-click="$event.stopPropagation()"><input name="labels[{[{label.id}]}]" ng-model="newContent.labels[label.id]" type="checkbox" class="label styled"/><i></i><cite>{[{label.name}]}</cite></label>
								</li>
							{% else %}
								{% for id,label in page.labels %}
								<li>
									<label><input name="labels[{{id}}]" ng-model="newContent.labels[{{id}}]" type="checkbox" class="label styled" /><i></i><cite>{{label.getName()}}</cite></label>
								</li>
								{% endfor %}
							{% endif %}
						</ul>
						<div class="clear"></div>
					</div>

					<input name="" type="submit" value="{{'Post' |trans}}" class="post_but" />

					<div class="clear"></div>

				</div>
			</form>
		</div>
		<span class="ng-hide floatright" ng-show="saving">{{ 'One moment please, your post is being saved...' |trans }}</span>
	</div>
</li>