<div id="plain_light">
	<div class="light_container">

		<h5>
			{{ 'Are you sure you want to permanently remove this remembr-profile?' | trans }}
		</h5>

		
		<button class="save_changes floatleft" ng-click="confirm()">{{ 'Confirm removal' | trans }}</button>
		
		<button class="cancel_but" ng-click="close()">{{ 'Cancel' | trans }}</button>
{#		<button class="save_changes" ng-click="publishnow()">{{ 'Republish' | trans }}</button>
		<button class="save_changes" ng-click="deactivate()">{{ 'Deactivate' | trans }}</button>#}

		<div class="clear"></div>

	</div>
</div>