<table>
    <tr>
        <td valign="top">
            <p>
				{{'Thank you for registering for our newsletter. To complete your registration, please confirm your e-mail address.' |trans}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <a href="{{ url }}">{{ 'Confirm your e-mail address' | trans }}</a>
            </p>
        </td>
    </tr>
	 <tr>
        <td>
            <p>
                {{ 'Kind regards,' | trans }}<br /><br />
				{{ 'Remembr.' |trans }}
            </p>
        </td>
    </tr>
</table>
