{{ doctype() }}
<!--[if IE 7 ]>		 <html class="no-js ie ie7 lte7 lte8 lte9" lang="en-US"> <![endif]-->
<!--[if IE 8 ]>		 <html class="no-js ie ie8 lte8 lte9" lang="en-US"> <![endif]-->
<!--[if IE 9 ]>		 <html class="no-js ie ie9 lte9>" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

    {% block title %}
    {{ headTitle('Remembr.') }}
    {% endblock %}

    {% block meta %}
    {% do headMeta('viewport', 'width=device-width, initial-scale=1.0') %}
    {{ headMeta() }}
    {% endblock %}

    {% block link %}
		{% do headLink().appendStylesheet(basePath('/css/bootstrap.min.css')) %}
		{% do headLink().appendStylesheet(basePath('/css/bootstrap-responsive.min.css')) %}
		{% do headLink({'rel': 'shortcut icon', 'href': '/images/favicon.ico'}) %}
		{% do headLink().appendStylesheet(basePath('/css/style.css')) %}
		{{ headLink() }}
    {% endblock %}


    {% block headscript %}
		{% do headScript().prependFile(basePath('/js/bootstrap.min.js')) %}
		{% do headScript().prependFile(basePath('/js/html5.js'), null, {'conditional':'lt IE 9'}) %}
		{% do headScript().prependFile('//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') %}
		{% do headScript().appendFile(basePath('/js/jquery-migrate-1.2.1.js')) %}
		{% do headScript().appendFile('//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js') %}
		{{ headScript() }}
    {% endblock %}

    </head>

    <body id="noheader">

		<noscript>
			<div class="nojs">{{'Javascript is turned off.' | trans}}</div>
		</noscript>

		<div class="content"> <!--content start-->
			<form id="report" method="post" action="/report/edit/id/{{bugreport.getId()}}" enctype="multipart/form-data">
				<div class="logo">
					<img src="/images/merk-logo-com-large.png" width="180" height="65" alt="">
				</div>
				<h1>{{'Bug report form' |trans }}</h1>
				<div class="clear"></div>
				{% set data = bugreport.getData() %}
				<div>
					<label>{{'Name / Email' |trans }}:</label>
					<p>{{ data.username }}, {{ data.email }}</p>
				</div>
				<div>
					<label>{{'Problem' |trans }}:</label>
					<textarea name="problem">{{ data.problem }}</textarea>
				</div>
				<div>
					<label>{{'Expected result' |trans }}:</label>
					<textarea name="expected">{{ data.expected }}</textarea>
				</div>
				<div>
					<label>{{'Actual result' |trans }}:</label>
					<textarea name="actual">{{ data.actual }}</textarea>
				</div>
				<div>
					<label>{{'Other remarks' |trans }}:</label>
					<textarea name="comments">{{ data.comments }}</textarea>
				</div>

				<div>
					<input type="submit" value="{{'Update' |trans }}" />
				</div>

			</form>
		</div>


	</body>
</html>
