{% extends format == 'tpl' ? 'application/create-page/tpl' : 'application/create-page/index' %}
{% do headTitle('Create a memorial page step 1 | Remembr.' | trans)%}
{% block step %}
<div>

	<div class="update_info light_container">

		<form name="info" novalidate ng-submit="nextStep()">
			<h5>
                {{'Who will the memorial page be about?'|trans}}
                <span class="warning" style="float: right" ng-show="update_pending">{{'Saving...' | trans}}</span>
                <span class="message" style="float: right" ng-show="! update_pending">{{'Saved' | trans}}</span>
            </h5>

			<div class="update_info_lft step1">
				<ul>
					<li class="genderinfo" ng-class="{invalid : info.gender.$invalid && info.gender.$dirty}">
						<div class="label_box1 no_border">
							<label><input name="gender" value="male" ng-model="newpage.gender" type="radio" required><i></i>{{ 'Male' | trans }}</label>
						</div>
						<div class="label_box1 no_border">
							<label><input name="gender" value="female" ng-model="newpage.gender" type="radio" required><i></i>{{ 'Female' | trans }}</label>
						</div>
					</li>

					<li ng-class="{invalid : info.firstname.$invalid && info.firstname.$dirty}">
						<label>{{'First name' | trans }}</label>
						<span class="light_txtbox_bg">
							<input ng-model="newpage.firstname" name="firstname" type="text" class="light_txtbox" required ng-blur="info.firstname.$dirty=true" />
						</span>
					</li>

					<li ng-class="{invalid : info.lastname.$invalid && info.lastname.$dirty}">
						<label>{{'Last name' | trans }}</label>
						<span class="light_txtbox_bg">
							<input ng-model="newpage.lastname" name="lastname" type="text" class="light_txtbox" required ng-blur="info.lastname.$dirty=true" />
						</span>
					</li>

					<li ng-class="{invalid : info.dateofbirth.$invalid && info.dateofbirth.$dirty}">
						<label>{{'Date of birth' | trans }}</label>
						<span class="light_txtbox_bg">
							<input ng-model="newpage.dateofbirth" name="dateofbirth" type="text" class="light_txtbox" datepicker="{[{user.dateformat}]}" placeholder="{[{user.dateformat | dateplaceholder}]}" required ng-blur="info.dateofbirth.$dirty=true" />
						</span>
					</li>

					<li ng-class="{invalid : info.dateofdeath.$invalid && info.dateofdeath.$dirty}">
						<label>{{'Date of death (if applicable)' | trans }}</label>
						<span class="light_txtbox_bg">
							<input ng-model="newpage.dateofdeath" name="dateofdeath" type="text" class="light_txtbox" datepicker="{[{user.dateformat}]}" placeholder="{[{user.dateformat | dateplaceholder}]}" ng-blur="info.dateofdeath.$dirty=true" />
						</span>
					</li>
				</ul>
				<div class="clear"></div>
			</div>

			<div class="update_info_rht step1">

				<ul>
					<li ng-class="{invalid : info.residence.$invalid && info.residence.$dirty}">
						<label>{{'City' | trans }}</label>
						<span class="light_txtbox_bg small">
							<input ng-model="newpage.residence" name="residence" type="text" class="light_txtbox" placeholder="{{'City' | trans }}" required ng-blur="info.residence.$dirty=true" />
						</span>
					</li>

					<li ng-class="{invalid : info.country.$invalid && info.country.$dirty}" class="country">
						<label>{{'Country' | trans }}</label>
						<span class="light_txtbox_bg ltb_select">
							<select ng-model="newpage.country" name="country" class="light_txtbox" ng-options="country for country in countries"  required>
								<option value="" selected>{{ 'Country'| trans }}</option>
							</select>
						</span>
					</li>
				</ul>


				<div class="update_brief" ng-class="{invalid : info.introtext.$invalid && info.introtext.$dirty}">
					<p>{{ 'Short description of the person' | trans }}</p>
					<span class="light_txtarea_bg">
						<textarea ng-model="newpage.introtext" name="introtext" cols="2" rows="2" class="light_txtarea" required ng-blur="info.introtext.$dirty=true" ></textarea>
					</span>
				</div>
			</div>

			<input type="submit" value="{{'Next step' | trans }}" class="save_changes" ng-class="{disabled:info.$invalid}" />

			<div class="clear"></div>
		</form>

	</div>
</div>
{% endblock step %}
